
language: java

before_install:
   - mkdir KITDM
   - cd KITDM
   - git clone https://github.com/kit-data-manager/base
   - cd base
   - mvn install -DskipTests=true > /dev/null
   - cd ../../

script:
  mvn install -DskipTests=true
